<ion-modal-view ng-controller="ProfileCtrl">
  <ion-header-bar>
    <h1 class="title">Profile</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideProfilePopup()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list card">

      <div class="item item-avatar">
        <img ng-src="{{user[user.provider].profileImageURL}}">
        <h2>{{user[user.provider].email}}</h2>
        <p>Welcome, dear User!</p>
      </div>

<!--       <div class="item item-body">
        <img class="full-image" src="delorean.jpg">
        <p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
          <a href="#" class="subdued">1 Like</a>
          <a href="#" class="subdued">5 Comments</a>
        </p>
      </div> -->

      <div class="item tabs tabs-secondary tabs-icon-left">
        <!-- <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a> -->
        <a class="tab-item" href="#" ng-click="logout()">
          <i class="icon ion-share"></i>
          Logout
        </a>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
